{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        {% for recipe in recipes %}
          <div class="card mb-3">
            <div class="card-body">
              <h1 class="card-title">{{ recipe.name }}</h1>
              <img class="img-fluid mb-3" alt="{{ recipe.name }}" src="{{ recipe.image.url }}"/>
              <p class="card-text">{{ recipe.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-3">
        <p>Cursus vitae congue mauris rhoncus aenean vel elit
          scelerisque mauris pellentesque pulvinar pellentesque habitant
          morbi tristique senectus et netus et malesuada! Pellentesque
          nec nam aliquam sem et tortor consequat id!</p>
      </div>
    </div>
  </div>
{% endblock content %}
