{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        {% for recipe in recipes %}
          <div class="card m-4">
            <div class="card-body">
              <h2 class="card-title">
                <a class="text-dark" href="{% url 'detail' recipe.pk %}">{{ recipe.name }}</a>
              </h2>
              <a href="{% url 'detail' recipe.pk %}">
                <img class="img-fluid mb-3" alt="{{ recipe.name }}" src="{{ recipe.image.url }}"/>
              </a>
              <p class="card-text">{{ recipe.description }}</p>
              <p class="mb-0">{{ recipe.created_at }} - by {{ recipe.created_by }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-3">
        <div class="card m-4">
          <div class="card-body">
            <h3 class="card-title">Search</h3>

          </div>
        </div>
        <div class="card m-4">
          <div class="card-body">
            <h3 class="card-title">Top Used Ingredients</h3>
            <ul>
              {% for ingredient in ingredients %}
                <li>
                  <a href="{% url 'recipes' ingredient.pk %}">{{ ingredient.name }} ({{ ingredient.recipe_count }})</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
